page {
  --button-primary-border-color: theme('colors.primary');
  --button-primary-background-color: theme('colors.primary');
  --tab-active-text-color: theme('colors.primary');
  --tabs-bottom-bar-color: theme('colors.primary-2');
  --switch-on-background-color: theme('colors.primary');
  --button-border-radius: 4px;
}
